/vendor/
/logs/*
!/logs/README.md
/coverage/
*.php_cs.cache
/build/
/cache/
/.env
/.phpunit.result.cache
composer.lock
/.idea/*
/certificados/
/token/
/public/
/storage/
/bootstrap/cache/
/database/
*.bak
*.log
*.sql
*.sql.gz
*.sql.bz2
*.sql.xz
